.timer {
  border: 2px solid var(--color-gold-4);

  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 100%;

  font-size: 2.4rem;
  padding: 0.5rem 1rem;
}
